{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'questionasking/style.css' %}">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<body>
{% if image_to_classify %}
    <div class="row">
        <div class="col-md-8">
            <h2>Question Asking Platform Demo</h2>
        </div>
        <div class="col-md-4 text-right">
            <h2>Welcome, {{user.username}}.</h2>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <img src="{{ image_to_classify.image.url }}" class="center-block" height=300em>
    </div>
    <div class="row">
        <h2 class="text-center" >Image {{ image_to_classify.id }}: {{ image_to_classify.question_text }}</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'process_answer' answer='Yes' pk=image_to_classify.pk %}" class="btn center-block yes">True</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'process_answer' answer='No' pk=image_to_classify.pk %}" class="btn center-block no">False</a>
        </div>
    </div>

{% else %}
    <p>No images to classify.</p>
{% endif %}
</body>